
<div class="container">
  <div class="row">
    <div class="col-md-12">
    	<button class="btn btn-default" (click)="goBack()"> Back </button>
      <div class="card">
        <div class="header">
          <h1> Tender ({{tender.name}}) Departments </h1>
        </div>
        <div class="content table-responsive table-full-width">
          <table class="table table-striped table-hover">
			<thead>
			  <tr>
			  	<th>Demands</th>
			    <th>Department</th>
			    <th>No. of Medicines</th>
			    <th>Estimated Cost</th>
			    <th>Actions</th>
			  </tr>
			</thead>
			<tbody>
			  <tr *ngFor="let dep of tender.department; let i=index">
			  	<td><span><input type="checkbox" class="form-control" [ngModel]="demStatus[i]" (ngModelChange)="acceptOrReject(demStatus[i],i)" /></span>
			  	<span *ngIf="demStatus[i]">Accepted</span>
			  	<span *ngIf="!demStatus[i]">Pending</span></td>
			    <td>{{dep.name}}</td>
			    <td>{{medCount[i]}}</td>
			    <td>{{medPrice[i]}}</td>
			    <td><a routerLink="/tenders/{{tender._id}}/departments/{{dep._id}}">
			    	View District Demands
			    </a></td>
			  </tr>
			</tbody>
			</table>
        </div>
      </div>
    </div>
    </div>
    </div>