
<div class="container">
  <div class="row">
    <div class="col-md-12">
    <button class="btn btn-default" (click)="goBack()"> Back </button>
      <div class="card">
        <div class="header">
          <h1> Edit Demand </h1>
			<h3> Tender {{demand.tendername}} </h3>
			<h3> District {{demand.district}} </h3>
        </div>
      </div>
        <div class="content table-responsive table-full-width">
          <table class="table table-striped table-hover">
			<thead>
			  <tr>
			  	<th>Medicine Name</th>
			  	<th>Quantity</th>
			  	<th>Reason</th>
			  </tr>
			</thead>
			<tbody>
				<tr *ngFor="let medi of demand.medicine; let i=index">
					<td> {{medi.name}}</td>
					<td>{{medi.quantity}} <input type="text" [ngModel]="quantity[i]" (ngModelChange)="changeQuantity(i,$event,medi)" /></td>
					<td>{{medi.reason}} <input type="text" [ngModel]="reason[i]" (ngModelChange)="changeReason(i,$event,medi)" /></td>
				</tr>
			</tbody>
			</table>
        </div>
        <button *ngIf="isValid" (click)="editDemand()" class="btn btn-default">Edit</button>
      </div>
    </div>
    </div>